@{
    Layout = null;
    ViewBag.Title = "UnAuthorizeAccess";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/animate.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style-responsive.min.css")" rel="stylesheet" type="text/css" />
    <!--<link href="@Url.Content("~/Content/assets/css/theme/default.css")" rel="stylesheet" id="theme" type="text/css"/>-->
    <link type="text/css" rel="stylesheet" href="~/Content/css/default.css" />

    <style type="text/css">
    </style>

</head>
<body>
    @*<h2>Unauthorize Access</h2>
    <p class="danger">You have no permission</p>*@
    <div id="page-container">
        <h1 class="text-center">Unauthorize Access</h1>
        <h2 class="text-center text-danger">You have no permission</h2>
    </div>
</body>
</html>